#div1{
    height: 100%;
    width: 100%;
    border: 1px solid black;
}
h2,nav{
    display: inline-block;
    /* padding: 10px 10px; */
}
h2{
    margin-left: 40px;
}
#b1{
    padding: 5px;
    margin-left: 29pc;
    background-color: #545b78;
    color: white;
}
nav{
    /* display: inline-block; */
    /* justify-content: center; */
    word-spacing: 4pc;
    /* display: flex; */
    /* text-align: center; */
    margin-left: 13pc;
}
a{
    text-decoration: none;
    color: grey;
}
h1,h2{
    font-family: 'Unna', serif;
}
#div2{
    width: 100%;
    /* border: 1px solid black; */
    margin-left: 40px;
    height:360px ;
}
h1{
    font-size:xxx-large;
    font-weight:900;
    /* text-align: center; */
    display: inline-block;
}
#main{
    border: 1px solid black;
}
#i{
    position: absolute;
    top:120px;
    left: 1000px;
}
#i1{
    position: absolute;
    top:100px ;
    left: 930px;
}
#i2{
    position: absolute;
    top:280px;
    left: 930px;
}
